<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804307192035-9bn50ulvaove7jphccqfglv8lk4pp4kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804307192035-9bn50ulvaove7jphccqfglv8lk4pp4kp</string>
	<key>API_KEY</key>
	<string>AIzaSyDdsIDDcsG6w3nTx3SMMbe_6pux_fBrQiY</string>
	<key>GCM_SENDER_ID</key>
	<string>804307192035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PNestere.race8</string>
	<key>PROJECT_ID</key>
	<string>race-18cbf</string>
	<key>STORAGE_BUCKET</key>
	<string>race-18cbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804307192035:ios:ab727107483cfda4439dd6</string>
</dict>
</plist>